^contentpage {
	background-color: black;
}

#header {
	margin: 10;
	font-size: 45;
	font-weight: 900;
	color: white;
}

#entry {
	background-color: white;
	border-radius: initial 10;
	color: black;
}

#button {
	margin-top: 30;
	background-color: red;
	color: white;
}

#else {
	color: black;
}

#label {
	color: white;
	font-size: 18;
}

#picker {
	color: white;
}
